@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply a light background color to the entire page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 20.5%, rgba(75,68,224,0.74) 58.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
  }

/* Style the fixed navigation bar */
nav {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px 9px;
    border-radius: 0px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);  
    
}


/* Style the navigation links */
nav a {
    list-style: none;
    margin: 0 20px;
    margin-left: 4%;
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 0;
    text-decoration: none;
}

/* Style the navigation links on hover */
nav a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0%;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  border-radius: 12px;
  transition: all 0.4s ease;
}

nav a:hover:before {
  width: 100%;
}

  nav a:hover:before{
    width: 100%;
  }
  nav a.center a:before{
    left: 50%;
    transform: translateX(-50%);
  }
  nav a.upward a:before{
    width: 100%;
    bottom: -5px;
    opacity: 0;
  }
  nav a.upward a:hover:before{
    bottom: 0px;
    opacity: 1;
  }
  nav a.forward a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  nav a.forward a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
  }

 
/* Style the section containing content */
section {
  display: inline-block;
  margin: 1%;
  background-color: #ffffff48; /* Light gray background */ /* Semi-transparent white background */
  padding: 20px;
  border: 0px solid #e0e0e0;
  border-radius: 40px;
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  box-shadow: 0 4px 6px rgba(114, 114, 114, 0.1); /* Add a subtle shadow */
}

/* Style the logo */
.logo {
  font-size: 38px;
  font-weight: bold;
  background: linear-gradient( 109.5deg,  rgba(31,212,248,1) 13%, rgba(218,15,183,1) 74.9% );
  -webkit-background-clip: text; /* For Webkit browsers */
  background-clip: text;
  color: transparent; /* Make the text transparent */
}






/* Style the page title */
h1 {

    margin-top: 4%;
    text-align: center;
    margin-bottom: 2%;
    color: #333;
}

/* Style the tables */
table {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
}

/* Style table header and cells */
th, td {
  font-size: 18px;
    text-align: center;
    padding: 15px;
    margin: 4px;
    border: 0px solid #ddd;
}

/* Style links within tables */
#linkToAllocateInterview {
    font-size: 17px;
    color: #fcf5f5;
    text-decoration: none;
}

/* Style buttons */
button {
  background-color: #333;
    color: #faf7f7;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-shadow: #ffffff;
    font-weight: none;
    transition: background-color 0.3s; /* Add a smooth background color transition on hover */
}

/* Style buttons on hover */
button:hover {
    background-color: #29033a; /* Darker blue on hover */
}
